* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.main {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: aliceblue;
}

.main__window {
  height: 75vh;
  display: grid;
  grid-template-columns: 600px 600px;
  grid-template-rows: 700px 700px;
}

.left__window {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px;
}

.right__window {
  background-color: #fff;
  border: 1px solid black;
  padding: 1rem;
  font-size: 1.4rem;
  text-transform: capitalize;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

header {
  height: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
  cursor: pointer;
  background-color: white;
}

.btn {
  padding: 5px;
  width: 25%;
  cursor: pointer;
}
textarea {
  height: 650px;
  width: 600px;
  font-size: 1.4rem;
  text-transform: capitalize;
  border: 1px solid black;
  outline: none;
  padding: 1rem;
  border-width: none;
}

@media (max-width: 1240px) {
  .main__window {
    height: 75vh;
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 700px 700px;
  }
  textarea {
    height: 650px;
    width: 400px;
    font-size: 1.4rem;
    text-transform: capitalize;
    border: 1px solid black;
    outline: none;
    padding: 1rem;
    border-width: none;
  }
}

@media (max-width: 840px) {
  .main__window {
    height: 75vh;
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: 300px 300px;
    font-size: 0.4rem;
  }
  textarea {
    height: 260px;
    width: 400px;
    font-size: 1.4rem;
    text-transform: capitalize;
    border: 1px solid black;
    outline: none;
    padding: 1rem;
    border-width: none;
    margin-bottom: 1rem;
  }
  .right__window {
    margin-top: 1rem;
  }
}
